NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://surajugale553_db_user:iWA0aJHEAXSyQfgp@cluster0.03abzdy.mongodb.net/?appName=Cluster0
JWT_SECRET=8a4df5ebfefe347a8c236e3c8af26a29b3e55eade8cf7e120a59be904165cb61433493c1e47a3a1b2824eee209a792da6b332deb810e90994ecf7168d2453ecf

# Get free MongoDB URI:
# 1. Go to cloud.mongodb.com
# 2. Create free cluster
# 3. Create DB user
# 4. Get connection string, replace <password>
# 5. Copy to .env as MONGODB_URI
# 6. Generate JWT_SECRET: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

